*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.galeria
{
  font-family: 'Century Gothic';
  font-style: bold;
}
.galeria h1
{
  text-align: center;
  margin: 10px 0 15px 0;
  font-weight: bold;
  font-size: 30px;
}
.contenedor
{
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}
.contenedor .imagen
{
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px 0px rbga(0,0,0,.75);
}
.imagen img
{
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.imagen p {
  text-align: center;
}

.imagen:hover
{
  filter: opacity(.5);
}
.overlay
{
  position: absolute;
  /*bottom: 0;*/
  top: 0;
  left: 0;
  background: rgba(36,156,156,0.34);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s ease;
}
.overlay h2
{
  color: #ffffff;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.imagen:hover .overlay
{
  height: 80%;
  cursor: pointer;
}
@media screen and (max-width:700px)
 {

  . contenedor
  {
    width: 90%;
  }
  .contenedor .imagen
  {
    width: 48%;
  }

}
@media screen and (max-width:450px)
 {

  . contenedor
  {
    width: 95%;
  }
  .contenedor .imagen
  {
    width: 90%;
  }

}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 65px;
  right: 60px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
