*
{
  margin: 0px;
}

body
{
 font-family: Century Gothic;
 background-image: url('../images/background1web4.png');
 background-size: cover;
 color: #ffffff;
}

header
{
  background: black;
  text-align: center;
  font-family: Century Gothic;
  color: : #ffffff;
  padding: 2px;
  margin: 0 auto;
}

.imagenHeader img
{
  width: 40%;
}

.imagenHeader
{
  margin-top: 10px;
}

h1
{
  text-align: center;
}

body
{
  font-family: Century Gothic;
  color: #ffffff;
}

.titulo
{
  font-family: Century Gothic;
  padding: 10px;
  padding-left: 0px;
}

.contenedor
{
  width: 80%;
/*  background: #faf102;*/
  margin: 0 auto;
}

.parrafo
{
  font-family: Century Gothic;
}

.main
{
  width: 70%;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
}

aside
{
  width: 30%;
  float: left;
  box-sizing: border-box;
  background-image: url('../images/aside2.png');
  background-size: cover;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-family: Century Gothic;
}

footer
{
  clear: both;
  background: #000000;
  color: #ffffff;
  padding: 2px;
}

aside h3
{
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.imagen img
{
  width: 30%;
}

.imagenAside img
{
  width: 100%;
  margin: 10px;
}

.boton
{
  float: right;
  margin: 10px 0;
  padding: 10px;
  font-family: Century Gothic;
  font-style: bold;
  background: #FCC842;
}

header nav
{
  font-family: "Century Gothic";
  color: #ffffff;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  /*background: #052147;*/
  background-image: url('../images/nav1.png');
  background-size: cover;
}

header nav ul
{
  overflow: hidden;
  list-style: none;
  text-align: center;
}

header nav ul li
{
  -float: left;
  display: inline-block;
}

#reserva
{
  text-align: center;
  color: white;
  display: block;
  padding: 20px;
  text-decoration: none;
  background: #ff003c;
  width: 50%;
  margin: 10px;
  font-family: Century Gothic;
  font-weight: bold;
}

#reserva:hover
{
  background: #faf102;
  color: black;
}

header nav ul li a
{
  color: #ffffff;
  display: block;
  padding: 20px;
  text-decoration: none;
}

header nav ul li a:hover
{
  background: #ffffff;
  color: black;
}

header nav ul li span
{
  margin: 10px;
}

.menu_bar
{
  display: none;
}

.snake-info
{
  margin-top: 40px;
}

.snake-aside h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.snake-aside img {
  min-width: 200px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px)
{

  header nav ul
   {
    padding-left: 0px;
   }
	.main
	{
		width: 100%;
		margin-top: 90px;
	}

	aside
	{
		width: 100%;
	}
	header
	{
		position: fixed;;
		width: 100%;
	}
	.contenedor
	{
		width: 100%;
	}
	header nav
	{
		width: 25%;
		height: 100%;
		margin: 0px;
		position: fixed;
		left: -100%;
	}
	header nav ul li
	{
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255,0.3);
	}
	.menu_bar
	{
		display: block;
		width: 100%;
	}
	.menu_bar .bt-menu
	{
		display: block;
		padding: 20px;
		color: #ffffff;
		text-decoration: none;
		font-size: 25px;
		font-weight: bold;
		box-sizing: border-box;

	}
	.menu_bar span
	{
		float: right;
		font-size: 40px;
    color: #ffffff;
    font-family: Century Gothic;
	}
}

@media screen and (max-width: 500px) {
  aside
  {
    display: none;
  }
  .contenedor
	{
		width: 100%;
	}
}
