#titulo
{
  font-family:Century Gothic;
  background-color: #F7BA21;
  color: #464648;
  text-align: center;
}
header
{
  font-family:Century Gothic;
  background-color: #464648;
  color:#F7BA21;

}
nav
{
  background-color: pink;
  height: 50px;
  padding: 10px;
}
nav ul li
{
  display: inline; /*para que nos muestre en horizontal las opciones*/
  margin: 0px 20 px;
}
nav a:link, nav a: visited /*para quitar el subrayado*/
{
  text-decoration: none;
}
section
{
  width: 75%;
  float: left;
  background-color: gray;

}
aside
{
  width: 25%
  float:left;
  background-color: orange;
}
aside img
{
  margin: 50px;

}
footer
{
  clear:both;
  background-color:F7BA21;
}
 section h3
{
  font-family:Century Gothic;
  background-color: #D3D8DD;
  color:#464648;
  font-size: 20px;
}
p,i
{
  font-family:Century Gothic;
  color: ##464648;
  font-size: 24px;
  text-align: center;
}
.texto1
{
  color:red;
  font-weight: bold;
}
