*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.galeria
{
  font-family: 'Century Gothic';
  font-style: bold;
}
.galeria h1
{
  text-align: center;
  margin: 10px 0 15px 0;
  font-weight: bold;
  font-size: 30px;
}
.contenedor
{
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}
.contenedor .imagen
{
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px 0px rbga(0,0,0,.75);
}
.imagen img
{
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.imagen p {
  text-align: center;
}

.imagen:hover
{
  filter: opacity(.5);
}
.overlay
{
  position: absolute;
  /*bottom: 0;*/
  top: 0;
  left: 0;
  background: rgba(193,66,66,0.6);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s ease;
}
.overlay h2
{
  color: #ffffff;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.imagen:hover .overlay
{
  height: 80%;
  cursor: pointer;
}
@media screen and (max-width:700px)
 {

  . contenedor
  {
    width: 90%;
  }
  .contenedor .imagen
  {
    width: 48%;
  }

}
@media screen and (max-width:450px)
 {

  . contenedor
  {
    width: 95%;
  }
  .contenedor .imagen
  {
    width: 90%;
  }

}
