input[type="checkbox"], input[type="radio"] {
    -moz-appearance: auto;
    -webkit-appearance: auto;
    -ms-appearance: auto;
    appearance: auto;
    display: initial;
    float: none;
    margin-right: 0;
    opacity: inherit;
    width: 1rem;
    z-index: -1;
}
