.menu
{
  width: 100%;
  background-color: black;
  font-family: century gothic;
  font-size: 22px;
  margin: 0;
  padding: 0;
  list-style: none;
}
body
{
  background-image: url("../images/fondo2.png");
  font-family:Century Gothic;
  color: #FFFFFF;

}

ul
{
  list-style: none;

}
.menu li
{
  display: inline-block;
}
.menu li a
{
  padding: 20px 30px;
  text-decoration: none;
  color: white;
}
.menu li a:hover
{
  background: gray;
}
.menu li a:visited
{
  background: red;
}
.menu li a:active
{
  background: orange;
}
.img img
{
  width: 20%;
  border-radius: 50%;
  display:block;
  margin: auto;
}
.img
{
  background:#F7BA21;
  width: 100%;
  padding: 50px;
}
form
{
  width: 40%;
  border: 1px solid gray;
  margin: 20px;
  padding: 30px;
  font-family: century gothic;
  font-size: 20px;
}
label
{
  font-size: 12px;
  display: block;

}
input,textarea
{
  width: 100%;
  margin: 10px;
  padding: 10px;
  box-sizing:border-box;
}
textarea
{
  resize: vertical;
  max-height: 200px;
  max-width: 50px;
}

input:focus, textarea:focus
{
  border: 1px solid gray;
}
input|type="sumit"|
{
  margin-bottom: 0px;
  background: #F7BA21;
  color: white;
  border: none;
  border-radius: 5px;

}
